@charset "utf-8";
/* CSS Document */
html, body{
  	padding: 0;
  	margin: 0;
}
.top_header {
	display: grid;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(8, 1fr);
	background-color: #666666;
}
.page_header {
	display: grid;
	width: 100%;
	box-sizing: border-box;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(8, 1fr);
	background-color: #666666;
}
.background_title {
  	display: inline-block; // this is to apply the vertical-align of parent
  	font-family: 'Montserrat', sans-serif;
  	color: #FFF;
  	font-size: 72px;
	margin: 25% 20%;
	border: #FFF solid 4px;
	border-radius: 10px;
	padding: 20px 30px;
	
}
.super_title {
	grid-row: 2;
	grid-column: 6 / 8;
}
.bar_header {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	grid-row: 9 / 11;
	grid-column: 1 / 5;
	background-color: #FFF;
}
.hhome {
	grid-row: 9 / 11;
	grid-column: 5;
}
.hmerch {
	grid-row: 9 / 11;
	grid-column: 6;
}
.hschedule {
	grid-row: 9 / 11;
	grid-column: 7;
}
.hcontact {
	grid-row: 9 / 11;
	grid-column: 8;
}
.bar_page_header {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	grid-row: 1;
	grid-column: 1 / 5;
	background-color: #FFF;
}
.phome {
	grid-row: 1;
	grid-column: 5;
}
.pmerch {
	grid-row: 1;
	grid-column: 6;
}
.pschedule {
	grid-row: 1;
	grid-column: 7;
}
.pcontact {
	grid-row: 1;
	grid-column: 8;
}
.h_link {
	background: #FFF;
}
.h_link a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1.5em 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #000;
	background: #FFF;
}
.h_link a:hover {
	text-decoration: underline;
}
.active a {
	text-decoration: underline;
}
#g_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas:
		'text map'
		'footer1 footer1'
		'footer2 footer2';
	padding: 40px 30px 20px 30px; // top right bottom left
	justify-content: center;
	margin: 0 auto;
}
.content_text {
	grid-area: text;
	font-size: 32px;
}
.google_map {
	grid-area: map;
	overflow: hidden;
	position: relative;
}
.google_map > iframe {
	width: 100%;
	height: 100%;
	position: absolute:
	left: 0;
	top: 0;
}
.footerlink1 {
	grid-area: footer1;
	text-align: center;
	padding: 20px;
}
.footerlink2 {
	grid-area: footer2;
	text-align: center;
}
.footerlink2 a, .footerlink2 {
	text-decoration: none;
	color: #666;
}
@media screen and (max-width: 1360px) {
	#g_container {
		display: grid;
		grid-template-areas:
			'text map'
			'footer1 footer1'
			'footer2 footer2';
		padding: 10px 20px 20px 20px; // top right bottom left
		justify-content: center;	
	}
		
	.bar_header {
		grid-row: 9 / 10;
		grid-column: 1 / 9;
		text-align: center;
	}
	.hhome {
		grid-row: 10 / 11;
		grid-column: 1 / 3;
	}
	.hmerch {
		grid-row: 10 / 11;
		grid-column: 3 / 5;
	}
	.hschedule {
		grid-row: 10 / 11;
		grid-column: 5 / 7;
	}
	.hcontact {
		grid-row: 10 / 11;
		grid-column: 7 / 9;
	}	
	.bar_page_header {
		grid-row: 1;
		grid-column: 1 / 9;
		text-align: center;
	}
	.phome {
		grid-row: 2;
		grid-column: 1 / 3;
	}
	.pmerch {
		grid-row: 2;
		grid-column: 3 / 5;
	}
	.pschedule {
		grid-row: 2;
		grid-column: 5 / 7;
	}
	.pcontact {
		grid-row: 2;
		grid-column: 7 / 9;
	}
}
@media screen and (max-width: 1000px) {
	#g_container {
		display: grid;
		grid-template-areas:
			'text text'
			'map map'
			'footer1 footer1'
			'footer2 footer2';
		padding: 10px 20px 20px 20px; // top right bottom left
		justify-content: center;	
	}
	.super_title {
		display: none;
	}
	.bar_header {
		grid-row: 9 / 10;
		grid-column: 1 / 9;
		text-align: center;
	}
	.hhome {
		grid-row: 10 / 11;
		grid-column: 1 / 3;
	}
	.hmerch {
		grid-row: 10 / 11;
		grid-column: 3 / 5;
	}
	.hschedule {
		grid-row: 10 / 11;
		grid-column: 5 / 7;
	}
	.hcontact {
		grid-row: 10 / 11;
		grid-column: 7 / 9;
	}	
	.bar_page_header {
		grid-row: 1;
		grid-column: 1 / 9;
		text-align: center;
	}
	.phome {
		grid-row: 2;
		grid-column: 1 / 3;
	}
	.pmerch {
		grid-row: 2;
		grid-column: 3 / 5;
	}
	.pschedule {
		grid-row: 2;
		grid-column: 5 / 7;
	}
	.pcontact {
		grid-row: 2;
		grid-column: 7 / 9;
	}
}

@media screen and (max-width: 600px) {
	#g_container {
		display: grid;
		grid-template-areas:
			'text text'
			'map map'
			'footer1 footer1'
			'footer2 footer2';
		padding: 10px 20px 20px 20px; // top right bottom left
		justify-content: center;	
	}
	
	.super_title {
		display: none;
	}	
	.bar_header {
		grid-row: 7 / 8;
		grid-column: 1 / 9;
		text-align: center;
	}
	.hhome {
		grid-row: 8 / 9;
		grid-column: 1 / 5;
	}
	.hmerch {
		grid-row: 8 / 9;
		grid-column: 5 / 9;
	}
	.hschedule {
		grid-row: 9 / 11;
		grid-column: 1 / 5;
	}
	.hcontact {
		grid-row: 9 / 11;
		grid-column: 5 / 9;
	}
	.bar_page_header {
		grid-row: 1;
		grid-column: 1 / 9;
		text-align: center;
	}
	.phome {
		grid-row: 2;
		grid-column: 1 / 5;
	}
	.pmerch {
		grid-row: 2;
		grid-column: 5 / 9;
	}
	.pschedule {
		grid-row: 3;
		grid-column: 1 / 5;
	}
	.pcontact {
		grid-row: 3;
		grid-column: 5 / 9;
	}	
}
@media screen and (max-width: 300px) {
	#g_container {
		display: grid;
		grid-template-areas:
			'text text'
			'map map'
			'footer1 footer1'
			'footer2 footer2';
		padding: 10px 20px 20px 20px; // top right bottom left
		justify-content: center;	
	}
	
	.super_title {
		display: none;
	}	
	.bar_header {
		grid-row: 6 / 7;
		grid-column: 1 / 9;
		text-align: center;
	}
	.hhome {
		grid-row: 7 / 8;
		grid-column: 1 / 9;
	}
	.hmerch {
		grid-row: 8 / 9;
		grid-column: 1 / 9;
	}
	.hschedule {
		grid-row: 9 / 10;
		grid-column: 1 / 9;
	}
	.hcontact {
		grid-row: 10 / 11;
		grid-column: 1 / 9;
	}
	.bar_page_header {
		grid-row: 1;
		grid-column: 1 / 9;
		text-align: center;
	}
	.phome {
		grid-row: 2;
		grid-column: 1 / 9;
	}
	.pmerch {
		grid-row: 3;
		grid-column: 1 / 9;
	}
	.pschedule {
		grid-row: 4;
		grid-column: 1 / 9;
	}
	.pcontact {
		grid-row: 5;
		grid-column: 1 / 9;
	}	
}

